html {
	min-height: 100%;
}

body {
	background-color: #fcefe8;
	background-image:
	    radial-gradient(
	      rgb(215,215,215),
	      rgb(176,196,222)
	    )
	;
	min-height: 100%;
}

.firstTop {
	margin-top: 4%;
}

.sideBorder {
	border-right: 1px solid black;
}

.otherSideBorder {
	border-left: 1px solid black;
}

.menuItem {
	color: rgb(151,0,24);
	text-decoration: underline;
}

.menuItem:hover {
	color: white;
	box-shadow: 0px 19px 9px -4px rgba(0,0,0,.4);
	text-decoration: none;
}

#picOfMe {
	padding-top: 18%;
	width: 100%;
}

#picOfMe:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.header {
	margin-left: 3%;
	margin-top: 2%;
	font-weight: bold;
	color: rgba(151,0,24,.9);
}

.indent {
	margin-left: 6%;
}

.colorChange {
	color: rgba(151,0,24,.9);
}

#numba1 {
	width: 25%;
	position: absolute;
	top: 20%;
	right: 5%;
	box-shadow: 3px 3px 2px 1px rgba(151,0,24,.9);
}

#numba2 {
	width: 25%;
	position: absolute;
	top: 45%;
	right: 3%;
	box-shadow: 3px 3px 2px 1px rgba(151,0,24,.9);
}

#numba3 {
	width: 25%;
	position: absolute;
	top: 70%;
	right: 7%;
	box-shadow: 3px 3px 2px 1px rgba(151,0,24,.9);
}