html {
	min-height: 100%;
}

body {
	background-color: #fcefe8;
	background-image:
	    radial-gradient(
	      rgb(245,245,245),
	      rgb(107,139,139)
	    )
	    /*radial-gradient(
	      rgb(215,215,215),
	      rgb(176,196,222)
	      rgb(210,180,140)
	      rgb(163,178,153)
	    )*/
	;
	min-height: 100%;
}

.firstTop {
	margin-top: 4%;
}

.sideBorders {
	border-right: 1px solid black;
	border-left: 1px solid black;
	max-height: 30px; 
}
.menuItem {
	color: rgb(151,0,24);
	text-decoration: underline;
}

.menuItem:hover {
	color: white;
	box-shadow: 0px 19px 9px -4px rgba(0,0,0,.4);
	text-decoration: none;
}

.header {
	margin-left: 5%;
}

.color {
	color: rgb(151,0,24);
	font-weight: bold;
}

img {
	width: 100%;
	box-shadow: 3px 3px 2px 1px rgba(151,0,24,.5);*/
}

.spacer {
	margin-bottom: 2%;
}