html{
	min-height: 100%;
}

body {
	background-image: url("meSitting.JPG");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Raleway', sans-serif;
	min-height: 100%;
}


#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3%;
	margin-top: 2%;
}

.centered {
	text-align: center;
}

.regFont {
	font-size: 20px;
	font-weight: lighter;
}

div[class="centered"] a {
	float: center;
	display: inline-block;
	height: 100px;
	border: 1px solid black;
	padding: 50px;
	margin: 3% 2%;
	background-color: rgba(151,0,24,.2);
	box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
	color: white;
	font-weight: lighter;
	-webkit-transition: width 1s, height 1s, background-color 1s, -webkit-transform 1s;
    transition: width 1s, height 1s, background-color 1s, transform 1s;
}

div a:hover {
	background-color: rgba(151,0,24,.9);
	-webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

div[id="special"] a {
	float: center;
	display: block;
	margin: auto;
	border: 1px solid black;
	background-color: rgba(151,0,24,.4);
	box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
	width: 80%;
	height: 50px;
	text-align: center;
	padding-top: 3%;
	color: white;
}

div[id="special"] a:hover {
	background-color: rgba(151,0,24,.9);
}

