html{
	min-height: 100%;
}

body {
	background-color: #fcefe8;
	background-image:
		radial-gradient(
	      rgb(215,215,215),
	      rgb(166,186,212)
	    )
	    /*radial-gradient(
	      rgb(245,245,245),
	      rgb(212,174,125)
	    )*/
	;
	min-height: 100%;
}

/*rgb(210,210,210)*/

.welcomeTag {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 3%;
	margin-top: 3%;
	border: 3px solid dimgrey;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4%;
	margin-top: 1%;
}

.regFont {
	font-size: 20px;
	font-weight: lighter;
	font-style: italic;
}

.choices {
	margin-top: 9%;
	color: black;
}

.linkStyle {
	color: black;
	box-shadow: 0px 19px 9px -4px rgba(0,0,0,.4);
	border-radius: 10px;
	-webkit-transition: width 1s, height 1s, background-color 1s, -webkit-transform 1s;
    transition: width 1s, height 1s, background-color 1s, transform 1s;
}

.choices div a:hover {
	box-shadow: 0px 19px 9px -4px rgba(151,0,24,.7);
	-webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    color: black;
    text-decoration: none;
}

.specialLinkStyle {
	color: black;
	padding: 1% 35%;
	background-color: rgba(151,0,24,.4);
	border-radius: 10px;
}

#special {
	margin-top: 6%;
}

.specialLinkStyle:hover {
	background-color: rgba(151,0,24,.9);
	color: white;
	text-decoration: none;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

@keyframes rubberBand {
  0% {transform: scale(1);}
  30% {transform: scaleX(1.25) scaleY(0.75);}
  40% {transform: scaleX(0.75) scaleY(1.25);}
  60% {transform: scaleX(1.15) scaleY(0.85);}
  100% {transform: scale(1);}
}
.rubberBand {
  animation-name: rubberBand;
}