html {
	min-height: 100%;
}

body {
	background-color: #fcefe8;
	background-image:
	    radial-gradient(
	      rgb(215,215,215),
	      rgb(176,196,222)
	    )
	;
	min-height: 100%;
}

.firstTop {
	margin-top: 4%;
}

.sideBorder {
	border-right: 1px solid black;
}

.otherSideBorder {
	border-left: 1px solid black;
}

.menuItem {
	color: rgb(151,0,24);
	text-decoration: underline;
}

.menuItem:hover {
	color: white;
	box-shadow: 0px 19px 9px -4px rgba(0,0,0,.4);
	text-decoration: none;
}

.header {
	margin-left: 5%;
	font-weight: bold;
}

.indent {
	margin-left: 7%;
	width: 90%;
}

a {
	color: rgb(151,0,24);
}

div[class="menu"] a {
	border: 1px solid white;
	background-color: rgba(151,0,24,.4);
	padding: 5px;
	color: black;
	float: right;
	margin-right: 3%;
	box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
}

div[class="menu"] a:hover {
	background-color: rgba(151,0,24,.9);
}

#space {
	padding-bottom: 30px; 
}



