body {
	background: oldlace; 
	font-family: 'Raleway', sans-serif;
}

h2 {
	margin: 5% 5%;
	font-weight: lighter;
}

.header {
	margin-left: 5%;
	font-weight: bold;
}

.indent {
	margin-left: 7%;
}

/*div[class="centered"] a {
	float: center;
	display: inline-block;
	height: 30px;
	border: 1px solid black;
	padding: 20px;
	margin: 3% 2%;
	background-color: rgba(205,92,92,.9);
	box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
	font-weight: lighter;
	color: white;
}*/

a {
	color: rgb(205,92,92);
}

div[class="menu"] a {
	border: 1px solid white;
	padding: 5px;
	color: rgb(205,92,92);
	float: right;
	margin-right: 3%;
}

div a:hover {
	background-color: rgba(205,92,92,.2);
	box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}
}