body {
	background-color: rgba(70,130,180,.8);
	font-family: 'Raleway', sans-serif;
	color: white;
}

h2 {
	margin: 5% 5%;
	font-weight: lighter;
}

#mlrb {
	width: 90%;
	margin: 2% auto;
	position: relative;
	box-shadow: 3px 3px 2px 1px rgba(0,0,0,.4);
}

.moodBoardz {
	display: inline-block;
	float: right;
	width: 45%;
	margin: 2% 2.5%;
	position: relative;
	box-shadow: 3px 3px 2px 1px rgba(0,0,0,.4);
}

.header {
	margin-left: 5%;
	font-weight: bold;
	color: rgb(151,0,24);
}

.indent {
	margin-left: 7%;
	width: 90%;
}

div[class="menu"] a {
	border: 1px solid white;
	background-color: rgba(151,0,24,.4);
	padding: 5px;
	color: black;
	float: right;
	margin-right: 3%;
	box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
}

div[class="menu"] a:hover {
	background-color: rgba(151,0,24,.9);
}