html {
	min-height: 100%;
}

body {
	background-color: #fcefe8;
	background-image:
	    radial-gradient(
	      rgb(215,215,215),
	      rgb(176,196,222)
	    )
	;
	min-height: 100%;
}

.firstTop {
	margin-top: 4%;
}

.sideBorder {
	border-right: 1px solid black;
}

.otherSideBorder {
	border-left: 1px solid black;
}

.menuItem {
	color: rgb(151,0,24);
	text-decoration: underline;
}

.menuItem:hover {
	color: white;
	box-shadow: 0px 19px 9px -4px rgba(0,0,0,.4);
	text-decoration: none;
}

.sup {
	margin: 4% auto;
}

.centered {
	width: 90%;
	display: inline-block;
	border: 1px solid black;
	padding: 10%;
	background-color: rgb(151,0,24);
	box-shadow: 4px 4px 7px 1px rgba(0, 0, 0, 0.4);
	color: white;
	font-weight: lighter;
}

.centered:hover {
	background-color: rgba(255,255,255,.2);
	/* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.header {
	margin-left: 3%;
	font-weight: bold;
	color: rgb(151,0,24);
}

.indent {
	margin-left: 6%;
	width: 90%;
}

#mlrb {
	width: 90%;
	margin: 2% auto;
	position: relative;
	box-shadow: 3px 3px 2px 1px rgba(0,0,0,.4);
}

.moodBoardz {
	display: inline-block;
	float: right;
	width: 45%;
	margin: 2% 2.5%;
	position: relative;
	box-shadow: 3px 3px 2px 1px rgba(0,0,0,.4);
}

.logos {
	height: 200px;
}

#lastOne {
	margin-top: 2%;
}